.confirm-save__modal {
  width:20rem;
  font-size:1.5rem;
  text-align: center;
  font-weight:400;
  padding: 1.5rem;
  background-image:linear-gradient(to right,lightgrey, white, lightgrey);
  z-index:100000;
  margin: auto;
  border-radius:20px;
  border:5px solid #000;
}

.confirm-save__btn {
  margin:0 auto;
  padding: .2rem .5rem;
  font-size:1.1rem;
}

.confirm-save__name {
  font-weight:600;
  text-transform: uppercase;
}

@media (max-width:500px) {
  .confirm-save__name {
    margin:.5rem 0;
  }

  .confirm-save__modal {
    font-size:1.2rem;
    width:75%;
    padding: 1rem;
  }

  .confirm-save__btn {
    font-size:.9rem;
  }
}



