$font-primary: 'Jura', sans-serif;
$font-secondary: 'Voces', cursive;
$font-tertiary: 'ZCOOL QingKe HuangYou', cursive;

$color-white: #fff;
$color-black: #000;
$color-grey: #888;
$color-grey-light: lightgrey;
$color-input-focus: #FFFAF0;

$color-ice: #96D9D6;
$color-normal: #A8A77A;
$color-fire: #EE8130;
$color-water: #6390f0;
$color-electric: #F7D02C;
$color-grass: #7AC74C;
$color-fighting: #C22E28;
$color-poison: #A33EA1;
$color-ground: #E2BF65;
$color-flying: #A98FF3;
$color-psychic: #F95587;
$color-bug: #A6B91A;
$color-rock: #B6A136;
$color-ghost: #735797;
$color-dragon: #6F35FC;
$color-dark: #705746;
$color-steel: #B7B7CE;
$color-fairy: #D685AD;